
.breadcrumb {
	width: 100%;
}

.breadcrumb .bread-links {
	line-height: 26px;
	font-size: 10px;
}

.breadcrumb li {
	float: left;
	margin-right: 5px;
}

.breadcrumb li.first {
	padding-left: 16px;
	background: url('<?php echo $this->baseHref() . '/Theme/Image/breadcrumb/ball_yellow_13.png' ?>') 0px 7px no-repeat;
}

.breadcrumb li span {
	padding-left: 5px;
}

.breadcrumb .bread-links {
	font-size: 10px;
}

#breadcrumb {
	font-size: 10px;
	background-image: url('<?php echo $this->baseHref() . '/Theme/Image/breadcrumb/bg.gif' ?>');	
	background-repeat: repeat-x;
	height: 28px;
	line-height: 28px;
	color: Black;
	border: solid 1px #cacaca;
	width: 100%;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

#breadcrumb li {
	list-style-type: none;
	padding-left: 10px;
	display: inline-block;
	float: left;
}

#breadcrumb a {
	display: inline-block;
	background-image: url('<?php echo $this->baseHref() . '/Theme/Image/breadcrumb/separator.gif' ?>');
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 15px;
	text-decoration: none;
	outline: none;
}

#breadcrumb .inactive {
	color: black;
	cursor: default;
}