.container .layoutContent div.body {
	border: 2px solid #FFFFFF;
	background: #F5F5F5;
	
	moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
}

.container .layoutContent div.body div.header {
	min-height: 36px;	
	background: url('<?php echo $this->baseHref() . '/Theme/Image/bck_header.png' ?>') top center repeat-x;
	
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
}

.container .layoutContent div.body div.header div{
	color: #333333;
	line-height: 24px;
	margin-bottom: 0px;
	padding: 7px 20px 9px 20px;
	font-size: 19px;
	background: url('<?php echo $this->baseHref() . '/Theme/Image/rule.gif' ?>') bottom left repeat-x;
}

.container .layoutContent div.body div.content{
	padding: 7px 20px 9px 20px;
}

.container .layoutContent div.seperator{
	margin-top: 10px; 
	padding-bottom: 10px; 
	background: url('<?php echo $this->baseHref() . '/Theme/Image/rule2.gif' ?>') 0px 0px repeat-x
}